body {
  overflow: hidden;
  background-color: #272727;
  padding: 0px;
  margin: 0px;
}

.container-header{
  display: inline-block;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;

}
.container-header button{
  width: 50px;
  background-color: transparent;
  border: 0px;
  color: #747474;
}
.container-header button:hover{
  color: black;
}
.container-header h1{
  color: #747474;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 2px 2px black;
}

.container-lights{
  height: 300px;
  overflow: auto;
  text-align: center;
  margin-left: auto;
}
.container-lights table{
  border: 3px solid;
  padding-top: 5%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.container-lights table tr td{
    color: #747474;
}
.container-lights table td{
}

.dot-black{
  height: 25px;
  width: 25px;
  background-color: #747474;;
  border-radius: 50%;
  display: inline-block;
}

.dot-red{
  height: 25px;
  width: 25px;
  background-color: #FF652F;
  border-radius: 50%;
  display: inline-block;
}

.dot-yellow{
  height: 25px;
  width: 25px;
  background-color: #FFE400;
  border-radius: 50%;
  display: inline-block;
}

.dot-green{
  height: 25px;
  width: 25px;
  background-color: #14A76C;
  border-radius: 50%;
  display: inline-block;
}
